
<div class="theme">
  <h1 class="align-middle"><%= @theme.content %></h1>
</div>
<div class="vote">
  <ul>
    <li>
      <p><%= @agree_count %></p>
      <% if @user_position.present? && @user_position.agree? %>
        <button type="button" class="btn btn-secondary" disabled>賛成</button>
      <% elsif  @user_position.nil? %>
        <button type="button" class="btn btn-secondary" disabled>賛成</button>
      <% else %>
        <%= link_to theme_opinions_path(@theme, params: { opinion: { position: 'agree' }}), method: 'post' do %>
          <button type="button" class="btn btn-danger">賛成</button>
        <% end %>
      <% end %>
    </li>  
    <li>
      <p><%= @disagree_count %></p>
      <% if @user_position.present? && @user_position.disagree? %>
        <button type="button" class="btn btn-secondary" disabled>反対</button>
      <% elsif  @user_position.nil? %>
        <button type="button" class="btn btn-secondary" disabled>反対</button>  
      <% else %>
        <%= link_to theme_opinions_path(@theme, params: { opinion: { position: 'disagree' }}), method: 'post' do %>
          <button type="button" class="btn btn-primary">反対</button>
        <% end %>
      <% end %>
    </li>
    <li>
      <p><%= @neutral_count %></p>
      <% if @user_position.present? && @user_position.neutral? %>
        <button type="button" class="btn btn-secondary" disabled>その他</button>
      <% elsif @user_position.nil? %>
        <button type="button" class="btn btn-secondary" disabled>その他</button>  
      <% else %>
        <%= link_to theme_opinions_path(@theme, params: { opinion: { position: 'neutral' }}), method: 'post' do %>
          <button type="button" class="btn btn-success" >その他</button>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
<div class="main">
  <div class="option_box">
    <h2>賛成</h2>
    <p>
      <%= link_to "意見投稿", new_theme_opinion_path(@theme) %>
    </p>
    <% @agree_opinions.each do |opinion| %>
      <p><%= opinion.content %></p>
    <% end %>  
  </div>
  <div class="option_box">
    <h2>反対</h2>
    <p>
      <%= link_to "意見投稿", new_theme_opinion_path(@theme) %>
    </p>
    <% @disagree_opinions.each do |opinion| %>
      <p><%= opinion.content %></p>
    <% end %>
  </div>
  <div class="option_box">
    <h2>その他</h2>
    <p>
      <%= link_to "意見投稿", new_theme_opinion_path(@theme) %>
    </p>
    <% @neutral_opinions.each do |opinion| %>
      <p><%= opinion.content %></p>
    <% end %>
  </div>
</div>
  