<div class="theme">
  <h1 class="align-middle"><%= @theme.content %></h1>
</div>
<div class="vote">
  <ul>
    <li><button type="button" class="btn btn-danger">賛成</button></li>
    <li><button type="button" class="btn btn-primary">反対</button></li>
    <li><button type="button" class="btn btn-success">その他</button></li>
  </ul>
</div>
<div class="main">
  <div class="option_box">
    <h2>賛成</h2>
    <p>
      <%= link_to "意見投稿", new_theme_opinion_path(@theme) %>
    </p>
    <% @agree_opinions.each do |opinion| %>
      <p><%= opinion.content %></p>
    <% end %>  
  </div>
  <div class="option_box">
    <h2>反対</h2>
    <p>
      <%= link_to "意見投稿", new_theme_opinion_path(@theme) %>
    </p>
    <% @disagree_opinions.each do |opinion| %>
      <p><%= opinion.content %></p>
    <% end %>
  </div>
  <div class="option_box">
    <h2>その他</h2>
    <p>
      <%= link_to "意見投稿", new_theme_opinion_path(@theme) %>
    </p>
    <% @neutral_opinions.each do |opinion| %>
      <p><%= opinion.content %></p>
    <% end %>
  </div>
</div>