<h1>新しいテーマ</h1>
<%= form_with model: @theme do |f| %>
  <p>
    <%= f.label :content, "テーマ" %><br>
    <%= f.text_field :content %>
  </p>
 
  <p>
    <%= f.label :image, "添付画像" %><br>
    <%= f.file_field :image %>
  </p>
  
  <p>
    <%= f.submit "投稿！" %>
  </p>
<% end %>